<div class="f-r-normal">
  <div class="standard-text select-text"
       [ngStyle]="{'width': titleWidth + 'px'}">{{title}}:</div>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-outline-light number-select-button" type="button" aria-disabled="true" (click)="sendNumber(false)">
        -{{multiplierService.buttonMultiplier}}
      </button>
    </div>
    <input type="text" class="number-input" [(ngModel)]="numberValue">
    <div class="input-group-append">
      <button class="btn btn-outline-light number-select-button" type="button" aria-disabled="true" (click)="sendNumber(true)">
        +{{multiplierService.buttonMultiplier}}
      </button>
    </div>
  </div>
</div>
