<div class="main-size-wrapper p-0 m-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>Garden</ng-template>
            <ng-template ngbTabContent>
              <div class="row pot-row"
                   *ngFor="let pot of game.pots"
                   [ngStyle]="{'border': '1px solid ' + pot.color}">
                <div class="col-md-12 p-0">
                  <div class="pot-box-description"
                       [ngStyle]="{'border-right': '1px solid ' + pot.color}">
                    <div class="standard-text">{{pot.name}}</div>
                    <div class="standard-text">In Use: {{pot.amount}}</div>
                    <div class="standard-text">Free: {{pot.freePots}}</div>
                  </div>
                  <div>

                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Shop</ng-template>
            <ng-template ngbTabContent>
              <div>TESTdwdw1</div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
    <div class="row stats-window">
      <div class="col-md-12">
        <div>TEST1</div>
      </div>
    </div>
  </div>
</div>
