<div class="container-fluid turner">
  <div class="row p-2">
    <div class="col-md-12 p-0">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>Garden</ng-template>
          <ng-template ngbTabContent>
            fweafwea
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Shop</ng-template>
          <ng-template ngbTabContent>
            fweafweafweaf
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<div class="canvas-wrapper">
  <canvas id="ui-container" class="overlaping-canvas" width="800" height="800"></canvas>
  <canvas id="main-container" class="overlaping-canvas" width="800" height="800"></canvas>
</div>
