.nav-tabs .nav-link {
  border-radius: 0 !important;
}
.main-size-wrapper {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  height: 600px;
  min-height: 600px;
  max-height: 600px;
  .standard-text {
    padding: 1px;
  }
  .stats-window {
    height: 58px;
    background-color: #DDDDDD;
  }
  .panel-background {
    background-color: #DDDDDD;
  }
  .tab-pane {
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
  }
  .wilderness-container {
    .world-map {
      width: 667px;
      height: 500px;
      margin-left: -30px;
      position: relative;
      background: url(/assets/images/worldmap.png) no-repeat left top / contain;

      .map-button {
        position: absolute;
        transition: 1s;
        opacity: 0.4;
        font-size: 20px;
        cursor: pointer;
      }
      .map-button-0 {
        top: 360px;
        left: 430px;
        color: white;
      }
      .map-button-0-animation {
        font-size: 24px;
        top: 358px;
        left: 428px;
        opacity: 1;
      }
    }
    .world-map-menu {
      height: 499px;
      width: 146px;
      .world-map-menu-item {
        width: 100%;
      }
    }
    .send-golems-button {
      margin: 0 0 5px 22px;
    }
    .golem-container {
      position: relative;
      .golem-close-button {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
      }
    }
  }
  .info-window-column {
    margin-left: 5px;
  }
  .pot-row {
    margin: 5px;
    .pot-box-description {
      padding: 1px;
      text-align: left;
      width: 150px;
      height: 100px;
    }
  }
  .plant-button-container {
    margin-left: 10px;
    .plant-button {
      width: 60px;
      min-width: 60px;
    }
  }
}
.text-center {
  text-align: center;
}
