@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
@import "~bootstrap/dist/css/bootstrap.css";

* {
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Oxygen Mono', monospace;
}
.btn, .btn-sm {
  border-radius: 0;
}
.f-c-normal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
.f-r-normal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
.f-c-between {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}
.width100 {
  width: 100%;
}
